/* Style the entire page */
.entire-page {
    background-color: black;
    height: 155%;
}

/* style all of the 'h2' text. */
.about-me-title {
    color: blue
}

.my-hobbies-title {
    color: blue
}

/* Style the hobbies list */
.hobbies-list {
    color: cyan;
    font-family: cursive;
    
/* Style the calendar title */
}
#calendar {
    color: cyan;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px;
}

/* Style the items within the calendar */
#calendar-items {
    text-align: center;
}

/* Style the about-me title */
.about-me-title {
    font-size: 30px;
    color: cyan;
    font-family:inherit;

}

/* Style the hobbies title */
.my-hobbies-title {
    font-size: 30px;
    color: cyan;
    font-family:inherit;
    margin: 50px 0px auto;
}

/* Style the weekly schedule */
.my-weekly-schedule {
    font-size: 30px;
    font-family: inherit;
    padding: 50px 0px 10px;
}

/* Style the about me sentences */
#about-me {
    color: cyan;
    font-family: cursive;
    font-size: medium;
}

/* Style the links. */
.lafayette-link {
    color :rgb(255, 255, 255);
}

.bcca-link {
    color :rgb(255, 255, 255);
}

.about-me-link {
    color :rgb(255, 255, 255);
}

.hobbies-link {
    color :rgb(255, 255, 255);
}

.images-link {
    color :rgb(255, 255, 255);
}

.calendar-link {
    color :rgb(255, 255, 255);
}

/* Style the images */

.video-game-img {
    position:absolute;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    top:250px;
    left:530px;
}

.bowling-img {
    position:absolute;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    top:250px;
    left:700px;
}

.four-wheeler-img {
    position:absolute;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    top:250px;
    left: 870px;
}

.cobra-1-img {
    position:absolute;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    top:250px;
    left: 1040px;
}

/* .rari-2-img {
    border-style: solid;
    border-color: rgb(255, 255, 255);
} */

/* .rari-img {
    border-style: solid;
    border-color: rgb(255, 255, 255);
} */

/* .ford-gt-img {
    border-style: solid;
    border-color: rgb(255, 255, 255);
} */

/* .cobra-2-img {
    border-style: solid;
    border-color: rgb(255, 255, 255);
} */

/* Style the sentence under the 'My Hobbies' text. */
#hobbies-sentence {
    color: cyan;
    font-family: cursive;
}

.internal-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.bottom-internal-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
}